body{
    background-color: gray;
}

.row{
color:black;
}

#history{
    background-color: gray;
    padding:10px;
}

#past-searches{
    list-style-type: none;
    padding: 0;
}

#past searches li{
    margin-bottom: 5px;
}
#container-main-weather{

}
.card {
    border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 200px;
  display:relative;
  text-align: center;
  box-shadow: 2px 2px 5px #ccc;
  font-size: 14px;
  line-height: 1.2;
    
    }

.history-container{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin: 10px;
    padding: 10px;
  }
